:root {
    /* text colors */
    --main-dark: #212121;
    --main-grey: #757575;
    --hover-focus: #2196F3;


    /* bg-colors */
    --header-footer: #2F303A;

    /* others */
}

body {
    font-family: Roboto, Raleway;
    background-color: white;
    /* треба було зазначити тільки "color" чи "background-color" також підійде? */
}

/* common styles start */
.link {
    text-decoration: none;
}

.link:hover {
    color: var(--hover-focus);
}

.list {
    list-style: none;
}

.current-page {
    color: #2196F3;
}

.pages-links {
    color: var(--main-dark);
}

.header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-contacts-links {
    color: var(--main-grey);
}


.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}


.header-list-items {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}





.solution-block,
.footer {
    background-color: var(--header-footer);
}

.main-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

    color: #FFFFFF;
}

.btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--hover-focus);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover,
.btn:focus,
.filters-btn:hover,
.filters-btn:focus {
    background-color: #188CE8;
}

.filters-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
    color: #FFFFFF;
    ;
}

.difference-list-items {
    width: 270px;
    height: 101px;
}

.difference-list-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.difference-list-paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.body-headers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.command-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.command-proffession {
    font-size: 16px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.command {
    background: #F5F4FA;
}

.command-cards {
    width: 270px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-contacts {
    /* font-family: 'Roboto';
    font-style: normal; */
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */
.proj-names {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: #212121;
}

.proj-descrtipions {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

