:root {
    /* text colors */
    --main-dark: #212121;
    --main-grey: #757575;
    --hover-focus: #2196F3;

    /* bg-colors */
    --header-footer: #2F303A;

    /* others */
    /* для сітки% */
    /* кількість карток в рядку */
    --items: 3;
    /* відступи між картками */
    --indent: 30px;

}

body {
    font-family: Roboto, Raleway;
    background-color: white;
    /* треба було зазначити тільки "color" чи "background-color" також підійде? */
}

/* reset */
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}


.page-header {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;

    /* border-bottom: 1px solid #ECECEC; */
}

.page-main {
    display: flex;
    justify-content: center;
}

.container {
    /* display: flex; */
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	/* margin-left: auto;
	margin-right: auto; */
	/* outline: 1px solid red; */
}
.header-container {
	display: flex;
	align-items: center;
    /* outline: 1px solid red; */
	/* margin-left: auto;
	margin-right: auto; */
    /* width: 1600px; */
    /* padding: 25px 215px; */


}


/* common styles start */
.link {
    text-decoration: none;
}

.link:hover {
    color: var(--hover-focus);
}

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.current-page {
    color: #2196F3;
}

.pages-links {
    color: var(--main-dark);
}


.logo {
    display: flex;
    width: 145px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}


/* .header-nav, */
.header-list {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 295px;
    margin-left: 95px;
    /* border: 1px dashed darkgreen; */
    }


.header-mail-tel {
    display: flex; 
    padding: 0px;
    margin-left: auto;
    margin-right: 0px;
    justify-content: space-between;
}

.header-contacts {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-contacts-links {
    color: var(--main-grey);
    min-width: max-content;
}

.header-contacts:not(:last-child) {
    margin-right: 50px;
    /* border: 1px dashed darkgreen; */
}
.header-contacts:last-child {
    margin-right: 0px;
    /* border: 1px dashed darkgreen; */
}

.header-list-items {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.solution {
    display: flex;
    padding: 200px 0px;
    /* justify-content: center; */
}

.solution-block {
    display: flex;
    flex-direction: column;
    /* width: 1600px; */
    align-items: center;
    justify-content: stretch;
    margin-left: auto;
	margin-right: auto;
}


.btn {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--hover-focus);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    min-width: 200px;
    max-width: max-content;
    padding: 10px 30px;
    position: relative;
}

.solution,
.footer {
    background-color: var(--header-footer);
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0px;
    padding-bottom: 30px;
    color: #FFFFFF;
    width: 695px;
}


.btn:hover,
.btn:focus,
.filters-btn:hover,
.filters-btn:focus {
    background-color: #188CE8;
}

.filters-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
    color: #FFFFFF;
    ;
}

.body-sections{
    /* margin-top: 95px; */
    /* justify-content: center; */
    padding: 95px 0px;
    margin-left: auto;
	margin-right: auto;
}

.difference-list {
    display: flex;
    /* padding-bottom: 0px; */
    /* margin-bottom: 0px; */
    justify-content: space-between;
    margin-left: auto;
	margin-right: auto;
}

.difference-list-items {
    display: flex;
    flex-direction: column;
    width: 270px;
}

.difference-list-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.difference-list-paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.whatwedo {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    margin-left: auto;
	margin-right: auto;
    margin-top: 95px;
}

.whatwedo-list {
    display: flex;
    justify-content: space-between;
    /* margin-top: 50px;
    margin-bottom: 0px; */
}

.command {
    display: flex;
    flex-direction: column;
    /* width: 1600px; */
    /* padding: 95px 0px; */
    align-items: center;
    justify-content: stretch;
    margin-left: auto;
	margin-right: auto;
}

.command-block {
    display: flex;
    flex-direction: column;
}

.command-list {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.body-headers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.command-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}

.command-proffession {
    font-size: 16px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
}

.command {
    background: #F5F4FA;
}

.command-cards {
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0px;
}

.footer {
display: flex;
flex-direction: column;
/* width: 1600px; */
/* margin-left: auto;
margin-right: auto; */
padding-top: 60px;
padding-bottom: 60px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.footer-contacts {
    display: flex;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    /* border: 1px dashed darkgreen; */
}

.footer-contacts-el:last-child {
    margin-top: 10px;
    /* border: 1px dashed rgb(22, 0, 100); */
}


.footer-list {
    margin-top: 20px;
}



/* portfolio */

.portfolio-all {
    display: flex;
    flex-direction: column;
}

.portfolio-main-block {
    display: flex;
    flex-direction: column;
    /* margin-top: 95px; */
    margin-left: auto;
    margin-right: auto;
}

.portfolio-buttons {
    display: flex;
    position: relative;
    min-width: 610px;
    max-width: min-content;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    /* padding-bottom: 16px; */
}

.filters-btn {
    padding: 6px 22px;
    /* margin-bottom: 35px; */
}

.proj-cards {
    display: flex;
    /* margin-top: 35px; */
}

.cards-netting {
    display: flex;
    flex-wrap: wrap;
    /* margin: calc(-1 * var(--indent) / 2); */
    padding-top: 50px;
    padding-bottom: 95px;
  }
  .card-netting-item {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
    margin: calc(var(--indent) / 2);
    border: 1px solid #EEEEEE;
  }
.proj-names {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: #212121;
}

.cards-text {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
}

.proj-descrtipions {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

